[Bb]uild*
![Bb]uild*.*
.cache
result
.direnv
CMakeCache.txt
CMakeFiles/
Makefile
smath.pc
smathConfig.cmake
smathConfigVersion.cmake
smath_tests
smath_tests[1]_include.cmake
smath_tests[1]_tests.cmake
CTestTestfile.cmake
cmake_test_discovery_*.json
cmake_install.cmake
install_manifest.txt
tour*
smath_tests*
random_steps*
projection*

