#titlearea {
  padding-right: 0;
}

#projectlogo img {
  height: 40px;
  width: auto;
}

#projectname,
#projectbrief {
  display: none;
}

html.dark-mode #projectlogo img {
  content: url('smath_dark.svg');
}
